.body {
  background: linear-gradient(to bottom, #E4EEF1, #95BDCA, #104456);
}


.translator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://www.pexels.com/photo/blue-sky-281260/");
    padding: 20px;
    border-radius: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
  }

  .container-header {
    width: 100%; /* Ensure it spans the container width */
    max-width: 1200px; /* Limit the width */
    margin-bottom: 20px; /* Add some space below the header */
    color: #104456;
    font-size: 64px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 2.56px;
    word-wrap: break-word;
    position: relative;
    top: 0;
    left: 0;
  }
  
  .language-selection {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .language-label {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #000000;
    margin: 0 20px;
  }

  .language-icon-label img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  /*.language-button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #F2F2F2;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #104456;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .language-button:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .language-button:hover:after {
    opacity: .5;
  }*/
  
  
  .swap-icon {
    font-size: 32px;
    cursor: pointer;
    color: #104456;
    padding: 0 10px;
  }
  
  .translation-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .textbox {
    height:auto;
    max-width:600px;
    color:#ffffff;
    font-weight:400;
    font-size:18px;
    font-family:'Ubuntu', Helvetica, Arial, sans-serif;
    align-content: center;
    text-align: center;
    width:100%;
    background:#d7d7d89b;
    border-radius:3px;
    line-height:2em;
    border:none;
    border-radius: 18px;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
    padding:30px;
    -webkit-transition: height 2s ease;
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
  }
  
  .translate-button {
    width: 10%;
    background-color: #333333;
    border-radius: 100px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    /*touch-action: manipulation*/;
  }
  
  .translate-button:hover {
    box-shadow: rgba(44, 99, 187, 0.35) 0 -25px 18px -14px inset,rgba(44, 84, 187, 0.25) 0 1px 2px,rgba(44, 70, 187, 0.25) 0 2px 4px,rgba(44, 61, 187, 0.25) 0 4px 8px,rgba(44, 61, 187, 0.25) 0 8px 16px,rgba(44, 65, 187, 0.25) 0 16px 32px;
    /*transform: scale(1.05) rotate(-1deg)*/;
  }
  


  /*Grammer errors*/
  .grammar-error {
    color: red;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .grammar-error:hover::after {
    content: attr(title);
    position: absolute;
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
    color: black;
  }
  